.home {
  background-color: $background-color;
  height: 100vh;

  h1 {
    font-family: CormorantInfant;
    font-size: 40px;
    font-weight: 500;
    color: $large-text;
    text-align: center;
    margin-top: 20px;

    @include breakpoint(medium) {
      margin-top: 50px;
      font-size: 70px;
    }

    @include breakpoint(large) {
      margin-top: 105px;
      font-size: 100px;
    }
  }

  p {
    color: $large-text;
    font-size: 12px;
    margin-top: 35px;
    // margin-bottom: 20px;
    text-align: center;
    font-weight: 300;

    @include breakpoint(medium) {
      font-size: 20px;
      margin-top: 25;
    }

    @include breakpoint(large) {
      font-size: 35px;
    }

  }

  .home-image {
    position:absolute;
    left:0;
    right:0;
    margin-top: 85px;
  }

}