.header {
    margin-bottom: 10px;
    
    p {
        border-bottom: solid 1px #f5f1ed;
<<<<<<< HEAD
        margin-top: 35px;
        font-size: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        @include breakpoint(large){
            font-size: 30px;
        }
    
    }
=======
        margin-top: 40px;
        font-size: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

>>>>>>> c628cec6ab893c7204e4c9a1989d12bbe122049e
}