.tile {
    background-color: #f5f1ed;
<<<<<<< HEAD
    text-align: center;
    margin-bottom: 25px;
    padding-bottom:35px; 

    @include breakpoint(large) {
        border:40px solid $white;
        padding: 60px 0 60px 0;
=======

    @include breakpoint(large) {
        border:40px solid $white;
        // border-right: 50px solid $white;
        padding: 60px 0 60px 0;
        text-align: center;

>>>>>>> c628cec6ab893c7204e4c9a1989d12bbe122049e
    }

    .church {
        font-size: 20px;
<<<<<<< HEAD
        margin-top: 40px;

        @include breakpoint(large) {
            margin-top: 0;
        }
=======
        padding: 10px;
>>>>>>> c628cec6ab893c7204e4c9a1989d12bbe122049e
    }

    .time {
        font-size: 20px;
        font-weight: 300;
    }
}