.corner {
  top: 10px;
  left: -25px;
  width: 35px;
  position: relative;
  height: 25px;

  @include breakpoint(medium) {
    top: 0px;
    width: 60px;
    left: -60px;
  }

}

.top-corner {
  height: 6px;
  background: $large-text;
  position: relative;
  top: 0;
  width: 100%;

  @include breakpoint(medium) {
    height: 10px;
  }

}

.left-corner {
  height: 35px;
  width: 5px;
  background: $large-text;
  position: relative;
  top: 0;

  @include breakpoint (medium) {
    height: 60px;
    width: 10px;
  }

}
